body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 22px;
    transition: 0.5s;
    background-color: white;

}




.container {
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
    margin-bottom: 10px;
}

a {
    padding: 5px;
    background-color:#f96d80 ;
    border-radius: 10px;
    opacity: 0.6;
    color: black;
}

a:hover {
    opacity: 1;
    background-color: #6a2c70;
    border-color: black;
}

.rowx {
    margin: 20px 0;
    transition: 0.5s;
}

.column {
    background: #000;
    display: table-cell;
    vertical-align: baseline;
    width: 33.33vw;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    transition: 0.5s;


}
.one {
    background-color: #ff9a76;
  animation-name: example;
  animation-duration: 5s;
}
@keyframes example {
  from {background-color: #dd7631;}
  to {background-color: #ff9a76;}
}
.six{
    color: white;
}
.white
{
    color: white;
}

.rowx:nth-child(1) .column:nth-child(1) {
    background: #ff9a76
}

.rowx:nth-child(1) .column:nth-child(2) {
    background: #6a2c70
}

.rowx:nth-child(1) .column:nth-child(3) {
    background: #ff9a76
}

.rowx:nth-child(2) .column:nth-child(1) {
    background: #6a2c70
}

.rowx:nth-child(2) .column:nth-child(2) {
    background: #ff9a76
}

.rowx:nth-child(2) .column:nth-child(3) {
    background: #6a2c70
}

h1 {
    color: #1b262c
}

.foxclass {
    color: white
}

@media (max-width:900px) {
    .container {
        margin: 0;
        padding: 10px;
        width: 100px;
    }

    .column {
        display: block;
        width: 100%;
        margin: 10px 0;
        border: none;
        box-sizing: border-box;
    }

    .rowx {
        margin: 0;
    }
}


.gridcontainer {
    width: 1000px;
    margin: 50px auto 0;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #282d32;
    font-family: 'Poppins';
    border-width: 5px;
    border-color: black;
    border-radius: 8px;
    position: relative;
    animation: mymove 5s;
    color: white;


}
@keyframes mymove {
  0%   {top: 0px; background: #282d32 ; width: 1000px;}
  50%  {top:20px: background :#6a2c70; width:1200px; }
  100% {top: 0px; background:#282d32; width: 1000px;}
}

img {
    padding-top: 10px;
}

.align {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 10px;

}

.row0 {
    margin: 0;
    transition: 0.5s;
    background-color: ##535204

}

.row1 {
    margin: 20px 0;
    transition: 0.5s;
}

.column1 {
    display: table-cell;
    vertical-align: baseline;
    width: 33.33%;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.5s;
}

.free {
    vertical-align: top;
}

p1 {
    color: white;
}

.footer-dark {
    width: 100vw;
    margin: 50px auto 0;
    display: table-cell;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #f0f9ff;
    background-color: #282d32;
    font-family: sans-serif;
    border-width: 5px;
    border-color: black;
    float: left;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul ax {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul ax:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>ax{
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    background-color: black;
    opacity: 0.75;
}

.footer-dark .item.social>ax:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.col-sm-6 {
    display: table-cell;
    vertical-align: baseline;
    width: 33.33%;
    padding-bottom: 10px;
    text-align: center;
    float: left;
    transition: 0.5s;
}
.end{
    font-size: 16px;
}
